* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'SanaBold';
  src: url('/public/fonts/Sana-Bold.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SanaThin';
  src: url('/public/fonts/Sana-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Sana';
  src: url('/public/fonts/Sana-Medium.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Mulish';
  src: url('/public/fonts/Mulish-Medium.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/public/fonts/Quicksand-Regular.ttf');
  font-style: normal;
  font-weight: 300;
}
